.heading-1{
    text-align: center;
    color: rgb(6,57,112);
    font-family: 'Courier New', Courier, monospace;
}

.heading-2{
    text-align: center;
    color: rgb(6,57,112);
    font-family: sans-serif;
}

/*
.upload-image-button {
    background-color: white;
    color: rgb(6,57,112);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border-color: rgb(6,57,112);
  }
*/
.section-1{
    padding: 10px 0px 30px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 5px;
    background-color: rgba(158, 205, 255, 0.483);
}

.image{
    max-width: 500px;
    max-height: 500px; 
    display: block;
    margin: 0 auto;
}