.heading-1{
    text-align: center;
    color: rgb(6,57,112);
}

.heading-2{
    text-align: center;
    color: white;
}

.upload-image-button {
    background-color: white;
    color: rgb(6,57,112);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border-color: rgb(6,57,112);
  }

.section-1{
    padding: 10px 0px 30px;
    background-color: rgb(6,57,112);
    color: white;
}

.image{
    max-width: 500px;
    max-height: 500px; 
    display: block;
    margin: 0 auto;
}