.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px 80px;
    background-color: white;
  }
  
  .navbar section {
    display: flex;
    align-items: center;
  }
  
  .create-post-button {
    background-color: rgb(255, 255, 255);
    color: rgb(6,57,112);
    padding: 10px 80px;
    text-decoration: none;
    border-radius: 5px;
    text-align: right;
    border-color: rgb(6,57,112);
  }

  