.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
    background-color: rgb(6, 57, 112);
  }
  
  .navbar section {
    display: flex;
    align-items: center;
  }
  
  /*
  .create-post-button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 80px;
    text-decoration: none;
    border-radius: 5px;
    text-align: right;
    border-color: rgb(6,57,112);
  }

  */